@using IT_PROJECT.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<main aria-labelledby="title">
    <div id="header-div" class="text-center bg-white py-3">
        <h2>
            <b>@ViewBag.Title</b>
        </h2>
    </div>
    
    <div class="row account-row text-center bg-white pt-3 pb-3 mt-3 mb-3">
        <div id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row m-1 justify-content-center">
                    <div class="col-12 col-md-5" style="display: flex; flex-wrap: wrap; justify-content: space-between">
                        @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                        <div class="text-center" style="width: 65%">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row m-2 justify-content-center">
                    <div class="col-12 col-md-5" style="display: flex; flex-wrap: wrap; justify-content: space-between">
                        @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                        <div class="text-center" style="width: 65%">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="offset-md-3 col-md-6">
                        <div class="checkbox ms-3">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="offset-md-4 col-md-3">
                        <input type="submit" value="Log in" class="btn btn-primary-custom" style="margin-left: 2rem" />
                    </div>
                </div>
                <br />
                <p class="ms-5">
                    <a href="@Url.Action("Register")" style="text-decoration: none">Register as a new user</a>
                </p>

                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}